html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.center-body {
    display: flex;
    flex: 1;
}

.header-navigation {
    display: flex;
    background-color: #55a17a;
    /* background-color: #55a17a; secondary color maybe or primary not sure*/
    justify-content: center;
}

.nav-list-header {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 4rem;
    flex-wrap: wrap;
}

.endpoint-link {
    display: flex;
    flex-direction: column;
    width: 225px;
    flex-shrink: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.endpoint-link {
    padding: 1rem;
}

.main-content-body {
    padding: 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.footer-body {
    padding: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.sidebar-nav {
    list-style: none;
}

.image-spacer {
    width: 1px;
    padding: 0 1px;
    background-color: #801816;
    align-self: stretch;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

body {
    background-color: #D0E6DB;
}

    /* padding: 2px;                all sides */
    /* padding: 2px 4px;            vertical | horizontal */
    /* padding: 2px 4px 6px;        top | horizontal | bottom */
    /* padding: 2px 4px 6px 8px;    top | right | bottom | left */