html, body {
    /* height: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--primary-font-color);
    margin: 0;
}

body {
    background-color: var(--primary-page-color);
}

.body-container {
    display: flex;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-small);
}

.header-navigation {
    display: flex;
    background-color: var(--secondary-page-color);
    justify-content: center;
    height: var(--header-height);
    position: sticky;
    top: 0;
    z-index: var(--header-page-z-index);
    box-shadow: 0px 1px 15px var(--tertiary-page-color);
}

.header-container {
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 var(--spacing-small);
}

.nav-list-header {
    display: flex;
    gap: var(--spacing-medium);
    align-items: stretch;
    flex-wrap: wrap;
}

.nav-image-home{
    padding: var(--spacing-xsmall);
    width: 64px;
    height: 64px;
    fill: white;
}

.nav-links {
    display: flex;
    gap: var(--spacing-small);
    align-items: center;
}

.nav-links a:hover {
    color: var(--tertiary-page-color);
}

.nav-links a:active {
    color: var(--accent-color-purple);
}

.endpoint-link {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--spacing-small);
    text-shadow: 4px 4px 5px #aaa;
    height: fit-content;
    position: sticky;
    top: var(--header-height);
}

.main-content-body {
    padding: var(--spacing-small);
    display: flex;
    flex: 3;
    flex-direction: column;
}

.footer-body {
    padding: var(--spacing-small);
    background-color: var(--secondary-page-color);
}

.footer-container {
    padding: 0 var(--spacing-small);
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    align-items: center;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xsmall);
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.sidebar-nav {
    list-style: none;
}

.sidebar-nav a:hover{
    color: var(--tertiary-page-color);
    text-shadow: 4px 4px 5px var(--accent-color-purple);
}

.sidebar-nav a:active{
    color: var(--accent-color-purple);
    text-shadow: 4px 4px 5px var(--accent-color-purple);
}

/* 
.child {
  display: flex;
  align-items: center;     /* center vertically inside child */
  /* justify-content: center; center horizontally inside child */

    /* padding: 2px;                all sides */
    /* padding: 2px 4px;            vertical | horizontal */
    /* padding: 2px 4px 6px;        top | horizontal | bottom */
    /* padding: 2px 4px 6px 8px;    top | right | bottom | left */